<mat-toolbar color="primary">Tea Shop
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/blog">Blog</a>
    </li>
    <li>
      <a mat-button routerLink="/teas">Teas</a>
    </li>
    <li>
      <a mat-button routerLink="/shop">All shops</a>
    </li>
    <li *ngIf="userType == 0">
      <a mat-button routerLink="/shop/nearest">Nearest shops</a>
    </li>
    |
    <li *ngIf="userType == 1">
      <a mat-button routerLink="/shop/add">My shop</a>
    </li>
    <li *ngIf="isSignedIn === false">
      <a mat-button routerLink="/users/signin">Sign In</a>
    </li>
    <li *ngIf="isSignedIn === true">
      <a mat-button (click)="signOut()">Sign Out</a>
    </li>
  </ul>
</mat-toolbar>