<mat-toolbar color="primary">Tea Shop
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/teas">Tea List</a>
        </li>
        <li>
            <a mat-button routerLink="/teas/add">Add Tea</a>
        </li>
        <li>
            <a mat-button routerLink="/blog">Explore</a>
        </li>
        <li>
            <a mat-button routerLink="/blog">Explore</a>
        </li>
        <li>
            <a mat-button routerLink="/users/signin">Sign In</a>
        </li>
    </ul>
</mat-toolbar>