
<h1>Add Tea</h1>
<form [formGroup]="teaForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">       
        <input matInput type="text" formControlName = "teaName" required placeholder="Tea Name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="text" formControlName = "shortName" placeholder="Short Name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="text" formControlName = "ingredients" placeholder="Ingredients">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="text" formControlName = "description" placeholder="Description">
    </mat-form-field>    
    <div formGroupName="brewInstruction">
        <h3>Brew Instruction</h3>
        <mat-form-field>
            <input matInput type="text" formControlName = "temp" placeholder="Temperature">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName = "water" placeholder="Water"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName = "minute" placeholder="Minute">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" formControlName = "direction" placeholder="Direction">
        </mat-form-field>
    </div>
   
    <div formArrayName="flavors">
        <h3>Flavors</h3>
        <button (click) = "addFlavor()"  mat-button color="accent">Add Flavor</button>
        <div *ngFor = "let flavor of flavors.controls; let i = index">
            <mat-form-field>                
                <input matInput type="text" [formControlName]="i" placeholder="Flavor">
            </mat-form-field>
        </div>
    </div>

    <button type="submit" [disabled]="!teaForm.valid"  mat-raised-button color="primary">Add Tea</button>
</form>
<hr>


<p>
  Form Value: {{ teaForm.value | json }}
</p>


<p>
  Form Status: {{ teaForm.status }}
</p>