<div class="container">
  <div class="shopCard" *ngFor="let shop of shops$ | async">
    <a [routerLink]="['../detail', shop._id]">
      <mat-card class="z-depth">
        <mat-card-header>
          <mat-card-title>{{shop.name}}</mat-card-title>
          <mat-card-subtitle>{{shop.contacts.address}}</mat-card-subtitle>
        </mat-card-header>
        <div id="container">
          <img *ngIf="shop.thumbnail" mat-card-image src="{{serverURL + shop.thumbnail}}" alt="{{shop.name}}" />
        </div>
        <mat-card-content>
          <p><i class="material-icons dark-primary">
            schedule
          </i> <span class="ml">{{shop.workHours.open}} - {{shop.workHours.open}}</span></p>
          <p><i class="material-icons" color="dark-primary">
            location_on
          </i><span class="ml">{{shop.contacts.address}}</span></p>
          <p><i class="material-icons" color="accent">
            grade
          </i><span class="ml">
              <span *ngFor="let tag of shop.tags">{{tag}} </span>
            </span></p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
