.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.bg{
  padding: 10px 5px;
  font-size: 15px;
  text-align: center;
}
.bg .bold{
  font-weight: 700;
}
.relative{
  position: relative;
}
.t4{
  position: absolute;
  top:4px;
}
.z-depth:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.shopCard a{
  text-decoration: none;
}

#container {
  height: 350px;
  margin: 7px;
  text-align: center;
}
#container img{
  height: 95%;
  width: auto;
  margin: 5px;
}
