<div class="container">
  <div class="shopCard" *ngFor="let shop of shops$ | async">
    <a [routerLink]="['../detail', shop._id]">
      <mat-card class="z-depth">
        <mat-card-header>
          <!--        <div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>{{shop.name}}</mat-card-title>
          <mat-card-subtitle>{{shop.contacts.address}}</mat-card-subtitle>
        </mat-card-header>
        <div id="container">
          <img *ngIf="shop.thumbnail" mat-card-image
               src="{{serverURL + shop.thumbnail}}"
               alt="{{shop.name}}"/>
        </div>
        <mat-card-content>
          <p>Phone: {{shop.contacts.phone}}</p>
          <p>Longitude: {{shop.location[0]}} </p>
          <p>Latitude: {{shop.location[1]}}</p>
          <span *ngFor="let tag of shop.tags">{{tag}} </span>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" class="relative">
            <mat-icon [style.color]="'orange'" *ngIf="5>1">star</mat-icon>
            <mat-icon [style.color]="'orange'" *ngIf="5>2">star</mat-icon>
            <mat-icon [style.color]="'orange'" *ngIf="5>3">star</mat-icon>
            <mat-icon [style.color]="'orange'" *ngIf="5>4">star</mat-icon>
            <mat-icon [style.color]="'orange'" *ngIf="5>=5">star_half</mat-icon>
            <a class="t4">{{17}}</a>
          </div>
        </mat-card-actions>
      </mat-card>
    </a>
  </div>
</div>
