<div class="container">
    <div class="teaCard" *ngFor="let tea of teas$ | async">
        <a [routerLink]="[tea._id]">
            <mat-card class="z-depth">
                <mat-card-header>
                    <mat-card-title>{{tea.teaName}}</mat-card-title>
                    <mat-card-subtitle>{{tea.shortName}}</mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                    <img *ngIf="tea.thumbnail" mat-card-image src="{{serverURL + tea.thumbnail}}"
                        alt="{{tea.teaName}}" />
                    <img *ngIf="!tea.thumbnail" mat-card-image
                        src="https://static.trotcdn.com/images/art/Clean_Beauty_Supporting.jpg" />

                    <div>
                        <div class="relative" fxLayout="row" *ngIf="getAvgReview(tea.reviews)!=0">
                            <mat-icon [style.color]="'orange'" *ngIf="average>=1">star</mat-icon>
                            <mat-icon [style.color]="'orange'" *ngIf="average>=2">star</mat-icon>
                            <mat-icon [style.color]="'orange'" *ngIf="average>=3">star</mat-icon>
                            <mat-icon [style.color]="'orange'" *ngIf="average>=4">star</mat-icon>
                            <mat-icon [style.color]="'orange'" *ngIf="average==5">star</mat-icon>
                            <div style="       position: absolute;
                            top: 4px;
                            font-size: 15px;
                            right: 0px">{{(tea.reviews)?.length}} Reviews</div>
                        </div>
                    </div>
                    <p *ngIf="tea.tags">
                        <span *ngFor="let tag of tea.tags">{{tag}} | </span>
                    </p>
                    <p><span *ngFor="let f of tea?.flavors">{{f}} </span></p>

                </mat-card-content>
                <mat-action-row>
                    <p>{{tea.shop?.name}}</p>
                </mat-action-row>
            </mat-card>
        </a>
    </div>
</div>