<div class="container">
    <div class="teaCard" *ngFor="let tea of teas">
        <mat-card>
            <img mat-card-image src="https://static.trotcdn.com/images/art/Clean_Beauty_Supporting.jpg" />
            <mat-card-title>{{tea.teaName}}</mat-card-title>
            <mat-card-subtitle>{{tea.shortName}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{tea.description}}</p>
                <span *ngFor="let f of tea.flavors">{{f}} </span>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row">
                    <mat-icon [style.color]="'orange'">star</mat-icon>
                    <mat-icon [style.color]="'orange'">star</mat-icon>
                    <mat-icon [style.color]="'orange'">star</mat-icon>
                    <mat-icon [style.color]="'orange'">star_half</mat-icon>
                </div>
            </mat-card-actions>
        </mat-card>
        {{tea}}
    </div>
</div>