<mat-card>
  <h1>Shop Detail</h1>
  <mat-card-header>
    <mat-card-title>{{(shop$ | async)?.name}}</mat-card-title>
    <mat-card-subtitle>{{(shop$ | async)?.contacts.address}}</mat-card-subtitle>
  </mat-card-header>
  <div id="container">
    <img *ngIf="(shop$ | async)?.thumbnail" mat-card-image src="{{serverURL + (shop$ | async)?.thumbnail}}"
      alt="{{(shop$ | async)?.name}}" />
  </div>
  <mat-card-content>
    <div>
      <h3>Contacts</h3>
      <div><strong>Phone </strong>{{(shop$ | async)?.contacts?.phone}}</div>
      <div><strong>Address </strong>{{(shop$ | async)?.contacts?.address}}</div>
      <div><strong>Website </strong><a href="(shop$ | async)?.contacts?.website"
          target="_blank">{{(shop$ | async)?.contacts?.website}}</a></div>

      <h3>Type of teas we sell</h3>
      <span *ngFor="let tag of (shop$ | async)?.tags">{{tag}} | </span>

      <div>
        <h3>Location</h3>
        <div><strong>Longtitude</strong> {{(shop$ | async)?.location[0]}} |
          <strong>Lattitude</strong>{{(shop$ | async)?.location[0]}}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="secondary" (click)="openDialog()">Add tea</button>
  </mat-card-actions>
</mat-card>