<mat-card>
  <h1>{{(shop$ | async)?.name}}</h1>
  <mat-card-header>
    <mat-card-title>{{(shop$ | async)?.contacts.address}}</mat-card-title><br />
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="(shop$ | async)?.thumbnail" mat-card-image src="{{serverURL + (shop$ | async)?.thumbnail}}"
      alt="{{(shop$ | async)?.name}}" />
    <div>
      <h3>Contacts</h3>
      <p class="dark-primary"><strong>Call us:</strong>{{(shop$ | async)?.contacts?.phone}}</p>
      <p><strong>Where: </strong>{{(shop$ | async)?.contacts?.address}}</p>
      <p><strong>Website: </strong><a href="(shop$ | async)?.contacts?.website"
          target="_blank">{{(shop$ | async)?.contacts?.website}}</a></p>

      <p><strong>Work Hours:</strong><span>{{(shop$ | async)?.workHours.open}}-
          {{(shop$ | async)?.workHours.open}}</span></p>
      <p><strong>Work Days:</strong><span *ngFor="let wd of (shop$ | async)?.workDays">{{wd}} | </span></p>
      <h3>Type of teas we offer:</h3>
      <p>
        <span *ngFor="let tag of (shop$ | async)?.tags">{{tag}} </span>
      </p>
      <div>
        <h3>Location</h3>
        <p><strong>Longtitude: </strong> {{(shop$ | async)?.location[0]}}
          <strong>Lattitude: </strong>{{(shop$ | async)?.location[0]}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="openDialog()">Add tea</button>
  </mat-card-actions>
</mat-card>