#container {
  height: 350px;
  margin: 0 auto;
  text-align: center;
}
#container img{
  width: 100%;
  height: auto;
}
.mat-card-content p, .mat-card-content span{
  font-size:17px;
}
.mat-card-header .mat-card-title {
  margin-bottom: 20px;
}