<mat-card>
  <h1>{{(shop$ | async)?.name}}
    <div *ngIf="userType == 1"><button mat-raised-button color="accent" (click)="openDialog()" class="fright">Add
        tea</button></div>
  </h1>
  <mat-card-header>
    <mat-card-title>{{(shop$ | async)?.contacts.address}}</mat-card-title><br />
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="(shop$ | async)?.thumbnail" mat-card-image src="{{serverURL + (shop$ | async)?.thumbnail}}"
      alt="{{(shop$ | async)?.name}}" />
    <div>
      <h3>Contacts</h3>
      <p class="dark-primary"><strong>Call us:</strong>{{(shop$ | async)?.contacts?.phone}}</p>
      <p><strong>Where: </strong>{{(shop$ | async)?.contacts?.address}}</p>
      <p><strong>Website: </strong><a href="{{(shop$ | async)?.contacts?.website}}" target="_blank">Visit here</a></p>

      <p><strong>Work Hours:</strong><span>{{(shop$ | async)?.workHours.open}}-
          {{(shop$ | async)?.workHours.open}}</span></p>
      <p><strong>Work Days:</strong><span *ngFor="let wd of (shop$ | async)?.workDays">{{wd}} | </span></p>
      <h3>Type of teas we offer:</h3>
      <p>
        <span *ngFor="let tag of (shop$ | async)?.tags">{{tag}} </span>
      </p>
    </div>
    <hr>
    <div>
      <h3>Teas we Offer</h3>
      <div class="container">
        <div class="teaCard" *ngFor="let tea of tea$ | async">
          <a [routerLink]="['../../../teas/', tea._id]">
            <mat-card class="z-depth">
              <img *ngIf="tea.thumbnail" mat-card-image src="{{serverURL + tea.thumbnail}}" alt="{{tea.teaName}}" />
              <img *ngIf="!tea.thumbnail" mat-card-image
                src="https://static.trotcdn.com/images/art/Clean_Beauty_Supporting.jpg" />
              <mat-card-title>{{tea.teaName}}</mat-card-title>
              <mat-card-subtitle>{{tea.shortName}}</mat-card-subtitle>
              <mat-card-content>
                <div *ngIf="tea.flavors">Flavors: <span *ngFor="let f of tea.flavors">{{f}} | </span></div>
                <div *ngIf="tea.tags">Tags: <span *ngFor="let t of tea.tags">{{t}} | </span></div>
                <div fxLayout="row" class="relative">
                  <mat-icon [style.color]="'orange'" *ngIf="5>1">star</mat-icon>
                  <mat-icon [style.color]="'orange'" *ngIf="5>2">star</mat-icon>
                  <mat-icon [style.color]="'orange'" *ngIf="5>3">star</mat-icon>
                  <mat-icon [style.color]="'orange'" *ngIf="5>4">star</mat-icon>
                  <mat-icon [style.color]="'orange'" *ngIf="5>=5">star_half</mat-icon>
                  <span class="n">{{tea.reviews?.length}}</span>
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>