<h1 mat-dialog-title> Add review </h1>
<div mat-dialog-content>
    <p>How would you rate this tea?</p>
    <form [formGroup]="reveiwForm" (ngSubmit)="onSubmit()">

        <mat-slider max="5" min="1" step="1" tickInterval="1" formControlName="star" thumbLabel="thumbLabel"
            class="full" value="2">
        </mat-slider>

        <mat-form-field class="full">
            <textarea matInput formControlName="comment" placeholder="comment" rows="2"></textarea>
        </mat-form-field>
        <div mat-dialog-actions>
            <button type="submit" [disabled]="!reveiwForm.valid" mat-raised-button color="primary">Add Review</button>
            <button mat-button (click)="onNoClick()">Cancel</button>
        </div>
    </form>

</div>
