<div class="container">
    <h2 mat-dialog-title>Add Post</h2>
    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field class="full-width">
            <input matInput type="text" formControlName="title" required placeholder="Title">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" formControlName="summary" required placeholder="Summary">
        </mat-form-field>
        <mat-form-field class="full-width dnone">
            <input matInput type="text" formControlName="thumbnail" placeholder="thumbnail">
        </mat-form-field>
        <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
        <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Save</button>
    </form>
</div>