.full-width{
    width:100%;
}
.mat-form-field{
    margin-right:20px;
}

.dnone {
    display: none;
}

.dflex {
    display: flex;
    margin-bottom:30px;
}

.c70p {
    width: 70%;
    margin-right: 20px;
}

.text-center {
    text-align: center;
}

.c30p {
    width: 30%;
}