#signup-form{
    max-width: 384px;
    padding-bottom: 24px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.signup-form-div{
    position: relative;
    text-align: left;
    margin-top: 16px;
}
.signup-form-div-label{
    font-size: 16px;
    line-height: 24px;
    color: rgb(38, 38, 39)
}
.signup-form-div-input{
    display: block;
    font-size: 16px;
    height: 40px;
    color: rgb(76, 76, 76);
    font-family: inherit;
    width: 384px;
    margin: 3px 0px;
    border-radius: 3px;
    padding: 0px 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    transition: border-color 0.2s ease 0s;
}
#quiz-container{
    width: 400px;
    margin: auto;
}
.quiz-box{
    text-align: center;
    margin-bottom: 50px;
    transition: box-shadow 200ms ease 0s;
    cursor: pointer;
}
.quiz-box:hover{
    box-shadow: rgba(51, 46, 84, 0.15) 0px 1px 3px 0px;
}
.quiz-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 300px;
}
#form-wrapper{
    max-width: 960px;
}
#card{
    webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}
#card-heading{
    background: url(/assets/quiz/4.jpg) top left/cover no-repeat;
    width: 29.1%;
    display: table-cell;
}
#card-body{
    display: table-cell;
    padding: 80px 90px;
    padding-bottom: 88px;
}
#card-title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 37px;
    font-size: 30px;
}
.input-group{
    position: relative;
    margin-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
}
.input-style{
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}
.form-btn{
    padding-top: 30px;
}
.form-btn button{
    background: #57b846;
    border-radius: 3px;
    transition: all .4s ease;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
}
.form-btn button:hover{
    background-color: #4ea53f;
}
.error{
    border-bottom: 1px solid red;
}
.error-text{
    color:red
}
.disabled-btn{
    background-color: grey !important;
}
.signup-link{
    float: right;
    position: relative;
    top: 10px;
    color: inherit;
    text-decoration: none;
}