<mat-card>
  <h1>Register shop</h1>
  <form [formGroup]="shopForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="name" required placeholder="Shop Name">
    </mat-form-field>
    <app-upload [formGroup]="shopForm"></app-upload>
    <div formGroupName="contacts">
      <h3>Contacts</h3>
      <mat-form-field>
        <input matInput type="text" formControlName="address" placeholder="Address">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="phone" placeholder="Phone">
      </mat-form-field>
    </div>

    <div formArrayName="tags">
      <h3>Tags
        <button (click)="addTag()" mat-button color="accent" type="button">Add Tag</button>
      </h3>
      <div *ngFor="let tag of tags.controls; let i = index">
        <mat-form-field>
          <!-- <input matInput type="text" [formControlName]="i" placeholder="Tag"> -->
          <mat-select [formControlName]="i">
            <mat-option *ngFor="let t of tagTypes" [value]="t">
              {{t}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div formGroupName="location">
      <h3>Location</h3>
      <mat-form-field>
        <input matInput type="text" formControlName="long" placeholder="Longitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="lat" placeholder="Latitude">
      </mat-form-field>
    </div>

    <button type="submit" [disabled]="!shopForm.valid" mat-raised-button color="primary">Register</button>
  </form>
  <hr>


  <p>
    Form Value: {{ shopForm.value | json }}
  </p>


  <p>
    Form Status: {{ shopForm.status }}
  </p>
</mat-card>
